<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.elapse.unsplash"
    android:versionCode="2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".UnsplashApplication"
        android:allowBackup="true"
        android:icon="@mipmap/unsplash_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".LauncherActivity"
            android:noHistory="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PhotosActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".PhotoActivity"
            android:theme="@style/AppTheme.Fullscreen"
            android:label="@string/app_name" />

        <provider
            android:name=".UnsplashContentProvider"
            android:authorities="io.elapse.unsplash.UnsplashContentProvider"
            android:exported="false" />

        <service
            android:name="io.pivotal.arca.service.OperationService"
            android:exported="false" />

    </application>

</manifest>
